{{#link-to "projects.detail" (query-params topFeatures=data.id) class="project-topFeatures-item__navigation-link"}}
	<h3 class="project-topFeatures-item__title" area-hidden="true">{{data.title}}</h3>
{{/link-to}}

<div class="project-topFeatures-item__img">
	{{#if data.img}}
		{{responsive-image image=data.img}}
	{{/if}}
</div>

<div class="project-topFeatures-item__content">
	<p>{{data.description}}</p>
</div>

{{yield}}