# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist/
/tmp/

# dependencies
/bower_components/
/node_modules/

# misc
/.idea
/.env*
/.sass-cache
/connect.lock
/coverage/
/libpeerconnection.log
/npm-debug.log*
/yarn-error.log
testem.log
.DS_Store

# ember-try
/.node_modules.ember-try/
/bower.json.ember-try
/package.json.ember-try

# Webfonts
/public/fonts/*.eot
/public/fonts/*.woff
/public/fonts/*.woff2
CalibreWeb-SemiboldItalic.woff2
CalibreWeb-SemiboldItalic.woff
CalibreWeb-Semibold.woff2
CalibreWeb-SemiboldItalic.eot
CalibreWeb-RegularItalic.woff2
CalibreWeb-Semibold.eot
CalibreWeb-Semibold.woff
CalibreWeb-Regular.woff2
CalibreWeb-RegularItalic.eot
CalibreWeb-RegularItalic.woff
CalibreWeb-Regular.eot
CalibreWeb-Regular.woff

# Images
/public/projects/*
!/public/projects/test.png
!/public/projects/test2.png
!/public/projects/test3.png
!/public/projects/test4.png

# Deploy
/.travis/id_rsa
