<nav class="content-slider__navigation">
	{{#each data.services as |content|}}
	{{!-- TODO: Make query param dynamic, will probably need a custom helper or better a subclass --}}
		{{#link-to 'language' (query-params service=content.id) class='content-slider__navigation-link'}}
			{{get content labelKey}}
		{{/link-to}}
	{{/each}}
</nav>

<div class="content-slider__content">
	{{#each data.services as |content|}}
		{{#content-slider-slide content=content selected=selected}}
			<h2>{{content.title}}</h2>
			<div>{{content.text}}</div>
		{{/content-slider-slide}}
	{{/each}}
</div>
