.lp-section {
	& + * {
		margin-top: 10rem;
	}

	header {
		position: relative;
		display: grid;
		grid-column: main;
		grid-template-columns:
			[main-start] minmax(0, $width-content-large / 8)
			[text-start] repeat(5, minmax(0, $width-content-large / 8))
			[text-end] repeat(2, minmax(0, $width-content-large / 8))
			[main-end];

		> a {
			position: absolute;
			color: $color-brand-1;
			font-size: 40rem;
			font-weight: 700;
			line-height: 34rem;
			pointer-events: none;
			user-select: none;
		}

		> *,
		~ * {
			position: relative;
			z-index: 1;
		}
	}

	h2 {
		margin-top: 17rem;
		grid-column-end: main;
		grid-column-start: text;
	}
}
