.content-quote {
	@include offset-content-bottom;
	@include offset-content-top;

	position: relative;
	overflow: hidden;
	background-color: $color-grey-light;

	&__container {
		@include grid-base;

		max-width: 1216px;
		margin: auto;
	}

	&__text {
		position: relative;
		grid-column: 1 / -1;
		margin: 0 0 4rem;
		font-size: 2.4rem;
		font-weight: 700;
		line-height: 2.8rem;

		&--small {
			font-size: 2.8rem;
			line-height: 3.2rem;
		}

		@include media-medium-min {
			grid-column: 2 / -2;
			font-size: 3.4rem;
			line-height: 3.5rem;
		}

		& ~ * {
			position: relative;
		}

		&::before,
		&::after {
			position: absolute;
			display: block;
			overflow: visible;
			color: $color-grey-darker;
			opacity: 0.06;
			font-size: 24rem;
			font-weight: 700;
			line-height: 24rem;
			text-align: left;
			vertical-align: middle;
			pointer-events: none;
			user-select: none;

			@include media-large-min {
				font-size: 55rem;
				line-height: 40rem;
			}
		}

		&::before {
			top: -5rem;
			left: -5rem;
			content: '“';

			@include media-large-min {
				top: -9rem;
				left: -13rem;
			}
		}

		&::after {
			top: -5rem;
			right: 0;
			text-align: right;
			content: '”';

			@include media-large-min {
				top: -9rem;
				right: -12rem;
			}
		}
	}

	&__source {
		grid-column: 1 / -1;
		color: $color-grey;
		font-size: 1.8rem;
		font-style: normal;
		text-align: right;

		@include media-medium-min {
			grid-column: -7 / span 5;
		}
	}

	// TODO: move this to environment/typography when global link stylings are defined
	.content-quote__project {
		display: block;
		grid-column: 1 / -1;
		margin: 3rem 0 0;
		padding: 2rem 0;
		font-size: 1.8rem;
		text-align: left;

		@include media-medium-min {
			grid-column: 2 / span 3;
			grid-row: 2 / span 1;
			margin: 0;
			padding: 0;
		}

		&,
		&:link,
		&:visited {
			color: $color-brand-2;
			font-weight: 700;
			text-decoration: none;
		}

		&:focus,
		&:hover {
			color: $color-brand-1;
		}
	}

	@include media-large-min {
		padding-top: 14rem;
	}

	@include media-xlarge-min {
		padding-top: 16rem;
	}
}

html[lang='de'] {
	.content-quote__text {
		&:before {
			top: auto;
			bottom: 0;
			content: '„';

			@include media-medium-max {
				bottom: -5rem;
				left: -1rem;
			}
		}

		&:after {
			content: '“';
		}
	}
}
