.content-lp-cover {
	@include grid-base;

	position: relative;
	height: 90vh;
	overflow: visible;
	grid-template-rows: 1fr fit-content(8.2rem) 1fr;
	padding-bottom: 1rem;
	color: $color-text-inverted;
	background: #363636 no-repeat;
	background-image: inline-svg(
			'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18">
					<g fill="none">
						<polygon fill="#FFB200" points="8 12 6 18 0 18 4 6 6 0 12 3 18 18 12 18"/>
						<polygon fill="#FEA000" points="6 18 0 18 4 6"/>
						<polygon fill="#FF8F00" points="8 12 6 18 4 6"/>
						<polygon fill="#FFB200" points="12 18 4 6 6 0"/>
						<polygon fill="#FFCA27" points="12 3 6 0 12 18 18 18"/>
					</g>
				</svg>'
		),
		linear-gradient(to bottom, #292929, #363636);

	background-position: right calc(-50vh + 10%) bottom 0, center;
	background-size: auto 100vh, cover;

	@include media-large-min {
		height: auto;
		min-height: 96vh;
		background-position: right calc(-50vh) bottom -5vh, center;
		background-size: auto 120vh, cover;
	}

	* {
		position: relative;
		grid-column: 1 / -1;
	}

	h1 {
		grid-row: 2 / span 1;
		margin: 0;
		color: $color-text-inverted;
		font-size: 4.9rem;
		line-height: 0.8;
		text-shadow: 0 2px 5px rgba(49, 41, 51, 0.1), 0 1px 2px rgba(49, 41, 51, 0.17);
		text-transform: uppercase;
		animation: moveLeft 1.5s ease-in;

		@include media-large-min {
			font-size: 10.8vmax;
			line-height: 0.8;
			letter-spacing: 0.02em;
		}
	}

	p {
		grid-column: 1 / span 5;
		grid-row: 3 / span 1;
		margin-top: 3rem;
		color: $color-text-inverted-60;
		font-size: 1.9rem;
		line-height: 2.5rem;
		animation: moveLeft 1.5s ease-in;

		@include media-large-min {
			font-size: 2.5rem;
			line-height: 3rem;
		}
	}

	&__scroll-down {
		position: absolute;
		bottom: -2rem;
		left: 50%;
		width: 4rem;
		height: 4rem;
		overflow: hidden;
		margin-left: -2rem;
		background: $color-background
			inline-svg(
				'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><polygon fill="#3F3A40" fill-rule="evenodd" points="9.539 17 14 10 9.539 3 6 3 10.461 10 6 17" transform="rotate(90 10 10)"/></svg>'
			)
			center no-repeat;
		border: 0;
		outline: 0;
		box-shadow: 0 5px 20px 0 rgba(49, 41, 51, 0.15), 0 1px 2px 0 rgba(49, 41, 51, 0.17),
			0 2px 5px 0 rgba(49, 41, 51, 0.1);
		text-indent: -999rem;
		transition: box-shadow 0.1s ease-in;
		appearance: none;
		background-size: 2rem;
		border-radius: 2rem;

		&:focus {
			box-shadow: 0 3px 15px 0 rgba(49, 41, 51, 0.1), 0 1px 2px 0 rgba(49, 41, 51, 0.17),
				0 1px 3px 0 rgba(49, 41, 51, 0.1);
		}
	}

	@keyframes moveLeft {
		0% {
			transform: translateX(-100px);
			opacity: 0;
		}

		80% {
			transform: translateX(10px);
		}

		100% {
			transform: translateX(0);
			opacity: 1;
		}
	}
}
