.grid .content-folder {
	grid-column: 2 / span 7;
}

.content-folder {

	&-item {
		a {
			overflow-y: hidden;
			text-decoration: none;
			display: block;
		}

		a span {
			display: inline-block;
			height: 6.3rem;
			margin: 1.5rem 0;
			font-size: 13rem;
			font-weight: 600;
			color: #f5f4f2;
			line-height: 0.77;
			letter-spacing: -0.3rem;
			float: right;
			white-space: nowrap;
			overflow: hidden;
			transition: color 0.5s;
		}

		.content-folder__content {
			height: 0;
			overflow: hidden;
			transition: height 1s;
		}
	}

	/* .content-folder-item {
		@include grid-base;

		grid-template-rows: 1fr fit-content(2rem);
	} */

	.content-folder-item--active {
		a span {
			color: #f90;
		}
	}
}
