.content-lp-text {
	@include grid-base;
	padding: 4rem 1.6rem 0;

	& > * {
		grid-column: 1 / -1;

		@include media-large-min {
			grid-column: 2 / span 8;
		}
	}

	& + * {
		margin-top: 10rem;
	}

	header {
		position: relative;
		display: grid;
		grid-column: 1 / -1;
		grid-template-columns: repeat(12, 1fr);

		> a {
			position: absolute;
			left: 0;
			transform: translateX(-45%);
			color: $color-brand-1;
			font-size: 20rem;
			font-weight: 700;
			line-height: 18rem;
			text-align: center;
			pointer-events: none;
			user-select: none;

			@include media-large-min {
				left: 12.5%;
				transform: translateX(-50%);
				font-size: 40rem;
				line-height: 34rem;
			}
		}

		> *,
		~ * {
			position: relative;
		}
	}

	h2 {
		grid-column: 1 / -1;
		margin: 8rem 0 1rem;
		text-transform: uppercase;

		@include media-large-min {
			grid-column: 2 / span 6;
			margin: 17.5rem 0 1rem;
			font-size: 3.6rem;
			line-height: 4.4rem;
		}

		@include media-xlarge-min {
			grid-column: 2 / span 5;
		}
	}
}

@include media-xlarge-min {
	.content-lp-text {
		& > * {
			grid-column: 2 / span 6;
		}
	}
}

@include media-xxlarge-min {
	.content-lp-text {
		& > * {
			grid-column: 2 / span 5;
		}
	}
}
