.projects-list {
	display: grid;
	overflow: hidden;
	//grid-auto-rows: 1fr;
	grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
	padding: 0;

	@include offset-menu-height;

	@include media-large-min {
		grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
	}
}

.projects-list::before {
	width: 0;
	grid-column: 1 / 1;
	grid-row: 1 / 1;
	padding-bottom: 100%;
	content: '';
}

.projects-list > *:first-child {
	grid-column: 1 / 1;
	grid-row: 1 / 1;
}

.projects-list-item {
	@include customer-colors;

	&,
	&:link,
	&:visited,
	&:focus,
	&:hover,
	&:active {
		color: $color-text-inverted;
		text-decoration: none;
	}

	&__inner {
		height: 100%;
		overflow: hidden;
		padding: 1.5rem 2rem;

		.projects-list-item__image {
			width: 80%;
			height: 80%;
			overflow: hidden;
			margin: auto;

			img {
				width: 100%;
				height: auto;
			}
		}
	}

	&__client {
		margin: 0;
		font-size: 2.4rem;
		line-height: 3rem;

		@include media-large-min {
			font-size: 3rem;
			line-height: 3.6rem;
		}
	}

	&__title {
		margin: 0;
		font-size: 1.8rem;
		font-weight: 400;
		line-height: 2rem;

		@include media-large-min {
			font-size: 1.8rem;
			line-height: 2rem;
		}
	}
}
