.project-features {
	@include grid-base;
	@include offset-content-bottom;
	@include offset-content-top;
	@include customer-colors;

	overflow: hidden;

	&__text {
		grid-column: 1 / span 4;

		@include media-medium-min {
			grid-column: 2 / -2;
		}
	}

	.project-features-item {
		&__navigation-link {
			position: relative;
			display: block;
			width: 100%;
			//overflow: hidden;
			text-decoration: none;

			&:focus,
			&:hover {
				color: inherit;
			}
		}

		&__title {
			//position: absolute;
			display: block;
			transition: color 0.5s;
		}

		&__content {
			height: 0;
			overflow: hidden;
			color: $color-text;
			transition: height 1s;
		}

		&--active {
			.project-features-item__content {
				height: auto;
			}
		}
	}
}
