.project-text {
	&--left,
	&--right {
		@include grid-base;
		@include offset-content-bottom;
		@include offset-content-top;
		@include customer-colors;
	}

	&__title,
	&__description,
	&__img {
		grid-column: 1 / span 4;
	}

	img {
		width: 100%;
	}

	&__img {
		position: relative;
		margin: 2rem 0;
	}

	&--vertical {
		.project-text__img-one {
			width: 50%;
			transform: rotate(14deg);
			margin: 0 4rem 0 auto;
		}

		.project-text__img-two {
			position: absolute;
			top: 0;
			left: 3rem;
			z-index: 1;
			width: 50%;
			transform: rotate(-7deg);
		}
	}

	&--horizontal {
		.project-text__img-one {
			transform: rotate(7deg);
			margin-bottom: 15rem;
		}

		.project-text__img-two {
			position: absolute;
			top: 18rem;
			z-index: 1;
			width: 100%;
		}
	}

	@include media-medium-min {
		&__title {
			grid-row: 2 / span 1;
			align-self: end;
		}

		&__description {
			grid-row: 3 / span 1;
		}

		&__img {
			grid-row: 1 / span 4;
		}

		&--left {
			.project-text__title {
				grid-column: 2 / span 4;
			}

			.project-text__description {
				grid-column: 2 / span 6;
			}

			.project-text__img {
				grid-column: 8 / span 4;
			}
		}

		&--right {
			.project-text__title {
				grid-column: 6 / span 4;
			}

			.project-text__description {
				grid-column: 6 / span 6;
			}

			.project-text__img {
				grid-column: 2 / span 4;
			}
		}
	}
}
