.content-project-triptych {
	@include grid-base;
	position: relative;
	height: 140vw;
	align-items: center;

	&__side-img-1 {
		position: absolute;
		top: (613/1093)*100%;
		left: 50%;
		width: (508/ 780)*100%;
		height: auto;
		transform: translate(-50%, 0);
		box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.25);
		opacity: 0.25;
	}

	&__side-img-2 {
		position: absolute;
		top: (100/1093)*100%;
		left: 50%;
		width: (508/ 780)*100%;
		height: auto;
		transform: translate(-50%, 0);
		box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.25);
		opacity: 0.25;
	}

	&__cover-img {
		position: relative;
		z-index: 1;
		width: 100%;
		height: auto;
		grid-column: 1 / -1;
		box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.25);
	}

	&--alt {
		background: $color-background-darker;
	}
}

@include media-large-min {
	.content-project-triptych {
		height: 53vw;

		&__side-img-1 {
			position: relative;
			top: 0;
			left: 0;
			width: 100%;
			height: auto;
			transform: none;
			grid-column: -4 / span 3;
			grid-row: 1;
		}

		&__side-img-2 {
			position: relative;
			top: 0;
			left: 0;
			width: 100%;
			height: auto;
			transform: none;
			grid-column: 1 / span 3;
			grid-row: 1;
		}

		&__cover-img {
			position: absolute;
			top: 50%;
			left: 50%;
			width: (656/1244)*100%;
			height: auto;
			transform: translate(-50%, -50%);
			margin-top: 0;
			margin-bottom: 0;
			box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.25);
		}
	}
}
