.project-text-left {
	@include grid-base;
	@include offset-content-bottom;
	@include offset-content-top;

	&--title,
	&--description,
	&--img {
		grid-column: 1 / span 4;
	}

	img {
		width: 80%;
	}

	@include media-medium-min {
		&--title {
			grid-column: 2 / span 4;
			grid-row: 1 / span 1;
			align-self: end;
		}

		&--description {
			grid-column: 2 / span 6;
			grid-row: 2 / span 1;
		}

		&--img {
			grid-column: 8 / span 5;
			grid-row: 1 / span 2;
		}
	}

	&--alt {
		background: $color-background-darker;
	}

	&--assignment {
		padding-top: 3rem;

		@include media-medium-min {
			padding-top: 3rem;
		}

		@include media-xlarge-min {
			padding-top: 3rem;
		}
	}
}
