.project-header {
	@include grid-base;

	position: relative;
	height: 45vh;
	overflow: visible;
	grid-template-rows: 1fr fit-content(8.2rem) 1fr;
	padding-bottom: 1rem;
	color: $color-text-inverted;
	background: #b73434 no-repeat;
	background-image: inline-svg(
		'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 50">
			<defs><style>.cls-2{fill:#c45c5c;}.cls-3{fill:#dd8585;}.cls-4{fill:#ddbaba;}</style></defs>
			<g fill="none">
				<polygon class="cls-4" points="120 0 0 0 34 50 120 50 120 0"/>
				<polygon class="cls-3" points="30 0 120 0 120 50 47 50 30 0"/>
				<polygon class="cls-2" points="60 0 80 50 120 50 120 0 60 0"/>
			</g>
		</svg>'
		);

	background-position: right calc(-45vh + 10%) bottom 0, center;
	background-size: auto 100vh, cover;

	@include media-large-min {
		height: auto;
		min-height: 91vh;
		background-position: right calc(-30vh) bottom -5vh, center;
	}

	* {
		position: relative;
		grid-column: 1 / -1;
	}

	h1 {
		margin: 0.5rem 0;
		color: $color-text-inverted;
		font-size: 4.9rem;
		line-height: 0.8;
		text-shadow: 2px 4px 10px #333433;

		@include media-large-min {
			grid-column: 2 / span 10;
			margin: 1rem 0;
			font-size: 11rem;
			line-height: 0.8;
			letter-spacing: 0.02em;
		}
	}

	&__client {
		grid-row: 2 / span 1;
		text-transform: uppercase;
	}

	&__title {
		grid-row: 3 / span 1;
	}

	&__scroll-down {
		position: absolute;
		bottom: -2rem;
		left: 50%;
		display: none;
		width: 4rem;
		height: 4rem;
		overflow: hidden;
		margin-left: -2rem;
		background: $color-background inline-svg(
				'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><polygon fill="#3F3A40" fill-rule="evenodd" points="9.539 17 14 10 9.539 3 6 3 10.461 10 6 17" transform="rotate(90 10 10)"/></svg>'
		) center no-repeat;
		border: 0;
		outline: 0;
		box-shadow: 0 5px 20px 0 rgba(49, 41, 51, 0.15), 0 1px 2px 0 rgba(49, 41, 51, 0.17),
			0 2px 5px 0 rgba(49, 41, 51, 0.1);
		text-indent: -999rem;
		transition: box-shadow 0.1s ease-in;
		appearance: none;
		background-size: 2rem;
		border-radius: 2rem;

		&:focus {
			box-shadow: 0 3px 15px 0 rgba(49, 41, 51, 0.1), 0 1px 2px 0 rgba(49, 41, 51, 0.17),
				0 1px 3px 0 rgba(49, 41, 51, 0.1);
		}

		@include media-large-min {
			display: block;
		}
	}
}
