.project-topFeatures {
	@include grid-base;
	@include offset-content-bottom;
	@include offset-content-top;
	@include customer-colors;
}
.project-topFeatures__text,
.project-topFeatures-item {
	grid-column: 6 / span 6;
}
.project-topFeatures-item {
	&__content {
		height: 0;
		overflow: hidden;
		color: $color-text;
		transition: height 1s;
	}

	&__navigation-link {
		text-decoration: none;

		&:focus,
		&:hover {
			color: inherit;
		}
	}

	&__title {

		transition: color 0.5s;
	}

	&--active {
		.project-topFeatures-item__content {
			height: auto;
		}
	}
}
