.content-project-gallery {
	@include grid-base;
	@include offset-content-top;
	@include offset-content-bottom;

	&__image {
		height: auto;
		max-width: 100%;
		grid-column: span 4;
		margin-bottom: 3.6rem;
	}
}

@include media-medium-max {
	.content-project-gallery {
		padding-right: $grid-offset-medium;
		padding-left: $grid-offset-medium;

		&__image {
			grid-column: span 8;
			justify-self: center;
		}
	}
}
