.project-text {
	&--left,
	&--right {
		@include grid-base;
		@include offset-content-bottom;
		@include offset-content-top;
		@include customer-colors;
	}

	&__title,
	&__description,
	&__img {
		grid-column: 1 / span 4;
	}

	img {
		width: 80%;
	}

	@include media-medium-min {
		&__title {
			grid-row: 1 / span 1;
			align-self: end;
		}

		&__description {
			grid-row: 2 / span 1;
		}

		&__img {
			grid-row: 1 / span 2;
		}

		&--left {
			.project-text__title {
				grid-column: 2 / span 4;
			}

			.project-text__description {
				grid-column: 2 / span 6;
			}

			.project-text__img {
				grid-column: 8 / span 4;
			}
		}

		&--right {
			.project-text__title {
				grid-column: 6 / span 4;
			}

			.project-text__description {
				grid-column: 6 / span 6;
			}

			.project-text__img {
				grid-column: 2 / span 4;
			}
		}
	}
}
