.project-icons {
	@include grid-base;
	@include offset-content-top;
	@include offset-content-bottom;
	@include customer-colors;

	&--title,
	&--description,
	&--img {
		grid-column: 1 / span 4;
	}

	&--img {
		display: flex;
		flex-flow: row wrap;

		div {
			margin: auto;
		}

		img {
			width: 80%;
			height: 80%;
		}
	}

	@include media-medium-min {
		&--title {
			grid-column: 2 / span 4;
			grid-row: 1 / span 1;
			align-self: end;
		}

		&--description {
			grid-column: 2 / span 6;
			grid-row: 2 / span 2;
		}

		&--img {
			grid-column: 8 / span 4;
			grid-row: 2 / span 2;
		}
	}
}
