.content-project-gallery {
	@include offset-content-top;
	@include offset-content-bottom;
	@include grid-gallery;

	&__image {
		height: auto;
		margin-bottom: 3.2rem;
		padding-right: 1.6rem;
		padding-left: 1.6rem;

		//orientation-no_of_images-image_index
		&--portrait-default-0 {
			width: 200%;
			grid-column: 1/2;
			justify-self: right;
		}

		&--portrait-default-1 {
			width: 100%;
			grid-column: 2/4;
		}

		&--portrait-default-2 {
			width: 100%;
			grid-column: 4/6;
		}

		&--portrait-default-3 {
			width: 100%;
			grid-column: 6/8;
		}

		&--portrait-default-4 {
			width: 200%;
			grid-column: 8/9;
			justify-self: left;
		}

		&--landscape-default {
			width: 100%;
			grid-column: span 4;
		}

		&--landscape-1 {
			position: relative;
			right: -4.8rem;
			width: 100%;
			grid-column: 3 / span 6;
			margin: 0;
			padding: 0;
		}

		&--landscape-5-0 {
			width: 100%;
			grid-column: 1 / span 4;
			justify-self: right;
		}

		&--landscape-5-1 {
			width: 100%;
			grid-column: 5 / span 4;
			justify-self: left;
		}

		&--landscape-5-2 {
			width: 200%;
			grid-column: span 2 / 3;
			justify-self: right;
		}

		&--landscape-5-3 {
			width: 100%;
			grid-column: 3 / span 4;
		}

		&--landscape-5-4 {
			width: 200%;
			grid-column: 7 / span 2;
			justify-self: left;
		}
	}
}

@include media-medium-max {
	.content-project-gallery {
		&__image {
			grid-column: span 8;

			&--portrait-default-0 {
				width: 200%;
				grid-column: 1/3;
			}

			&--portrait-default-1 {
				width: 100%;
				grid-column: 3/7;
			}

			&--portrait-default-2 {
				width: 200%;
				grid-column: 7/9;
			}

			&--portrait-default-3 {
				width: 100%;
				grid-column: 1/5;
			}

			&--portrait-default-4 {
				width: 100%;
				grid-column: 5/9;
			}

			&--landscape-5-2,
			&--landscape-5-4 {
				width: 100%;
			}

			&--landscape-1 {
				grid-column: 3 / span 6;
			}
		}
	}
}
