.service-slide {
	position: absolute;
	width: 100%;

	h1 {
		font-size: 28px;
		line-height: 30px;
	}

	&__text {
		max-width: 448px;
	}

	&__billboard {
		position: absolute;
		color: white;
		font-weight: 600;
		text-transform: uppercase;
		transition: opacity 200ms;
	}

	// desktop
	@include media-s-min {
		h1 {
			margin-top: 140px;
		}

		&__billboard {
			top: 230px;
			right: 0;
			left: 480px;
			opacity: 0.0;
			font-size: 180px;
		}

		.content-slider__slider__steady .content-slider__slide__active &__billboard {
			opacity: 1.0;
		}
	}

	// mobile
	@include media-s-max {
		h1 {
			margin-top: 200px;
		}

		&__billboard {
			top: 42px;
			right: 0;
			left: 0;
			height: auto;
			overflow: hidden;
			font-size: 50px;
			line-height: 70px;
			text-align: center;
		}
	}
}
