<div class="services-slide__content">
	<h3 class="services-slide__headline">{{data.title}}</h3>

	<div class="services-slide__text">{{data.text}}</div>
</div>

<div class="services-slide__billboard">{{data.id}}</div>

{{yield}}
