.project-overview {
	@include grid-base;

	padding: 0.6rem 1.6rem;
}

.project-item {
	position: relative;
	z-index: 1;
	overflow: hidden;
	grid-column: span 4;
	margin: 0 -1rem;
	padding: 1rem;
	color: $color-text-inverted;
	background: #292929 linear-gradient(to bottom, #292929, #363636);

	@include media-l-min {
		grid-column: span 2;
		margin: 0 -1.6rem;
		padding: 1rem;
	}

	h3 {
		color: $color-text-inverted;
	}

	& > .project-item__background-client {
		position: relative;
		bottom: -5rem;
		left: calc(1.6rem + 12.5%);
		height: 40vmin;
		transform: rotate(-58deg);
		opacity: 0.1;
		font-size: 25rem;
		font-weight: 700;
		line-height: 20rem;
		text-align: center;
		text-transform: uppercase;
	}
}
