{{#page-overlay}}
	{{#page-menu forceOpaque=true class="page-menu--flat"}}
		<header>
			<a href="#{{projects}}" onclick={{action "scrollToTop"}}>
				{{t "projects.title"}}
			</a>
		</header>
	{{/page-menu}}

	{{projects-list projects=model.files}}
{{/page-overlay}}