{{#projects-list projects=model.files}}
	{{#page-menu forceOpaque=true class="projects-list__page-menu"}}
		<ul>
			<li>
				{{#link-to 'language'}}{{t 'projects.detail.nav.back'}}{{/link-to}}
			</li>
		</ul>
	{{/page-menu}}
{{/projects-list}}