<h1>Projects</h1>

<ul data-test-projects-list>
	{{#each model.projects as |project|}}
	{{!-- TODO change blockstyle form, override link-to method--}}
		{{#project-item
				'projects.details'
				project.id
				tagName='li'
				project=project
				data-test-project-item=true}}
		{{/project-item}}
	{{/each}}
</ul>
