<h1>Projects</h1>

<ul data-test-projects-list>
	{{#each model.files as |project|}}
	{{!-- TODO change blockstyle form, override link-to method--}}
		{{#project-item
				'projects.details'
				project.meta.id
				tagName='li'
				project=project.meta
				data-test-project-item=true}}
		{{/project-item}}
	{{/each}}
</ul>
