@mixin customer-colors {
	.color {
		&--mystaffpilot {
			color: #006ac9;
		}

		&--knauf {
			color: #f97e33;
		}
	}

	.mystaffpilot-color {
		&--zero {
			fill: #6291ba;
		}

		&--one {
			fill: #72a3d2;
		}

		&--two {
			fill: #84b5e4;
		}

		&--three {
			fill: #0062c0;
		}
	}

	.knauf-color {
		&--zero {
			fill: #d29977;
		}

		&--one {
			fill: #e6ad8b;
		}

		&--two {
			fill: #f8bf9d;
		}

		&--three {
			fill: #f97e33;
		}
	}
}
