@mixin grid-base {
	display: grid;
	// overflow: hidden;
	grid-column-gap: 1.6rem;
	grid-template-columns: repeat(8, 1fr);
	justify-content: center;

	@include base-padding;

	@include media-large-min {
		grid-column-gap: 3.2rem;
	}
}
