{{title model.meta.title}}

{{#page-menu forceOpaque=true class="page-menu--flat"}}
	<ul>
		<li>
			{{#link-to 'language'}}{{t 'projects.index.nav.back'}}{{/link-to}}
		</li>
	</ul>
{{/page-menu}}

{{{model.content}}}

{{outlet}}
