// Colors
$color-text: #312833;
$color-text-inverted: #ffffff;
$color-text-inverted-60: rgba(255, 255, 255, 0.6);
$color-text-lighter: #a09da1;
$color-background: #ffffff;
$color-brand-1: #ffca27;
$color-brand-2: #ff8f00;

$color-grey-darker: #312833;
$color-grey: #69646b;
$color-grey-light: #f5f5f3;
$color-grey-lighter: #f5f4f2;

$color-href: #5a07f0;
$color-href-hover: #9053fe;
$color-href-active: #4900cc;

$color-projects-list-item: #504a52;

// Grid
$grid-width-content-large: 92.8rem;
$grid-screen: 102.4rem;
$grid-offset-small: 1.6rem;
$grid-offset-medium: ($grid-screen - $grid-width-content-large) / $grid-screen / 2 * 100%;
$grid-offset-large: 3.6rem;

// Breakpoints
$breakpoint-small-medium: 420px;
$breakpoint-medium-large: 780px;
$breakpoint-large-xlarge: 1300px;
$breakpoint-xlarge-xxlarge: 1600px;
