{{#link-to 'index' class="u-logo"}}
	<img src="/img/logo.svg" width="130" height="60" alt="anfema">
{{/link-to}}

<div class="page-footer__office">
	<h3 class="page-footer__office-title">Munich Office</h3>

	<p class="p-adr adr h-adr">
		<span class="p-street-address">Seitzstr. 16</span><br>
		<span class="p-postal-code">80538</span> <span class="p-locality">Munich</span><br>
		<span class="p-country-name">Germany</span>
	</p>
</div>

<div class="page-footer__office">
	<h3 class="page-footer__office-title">Augsburg Office</h3>

	<p class="p-adr adr h-adr">
		<span class="p-street-address">Bahnhofstr. 10</span><br>
		<span class="p-postal-code">86150</span> <span class="p-locality">Augsburg</span><br>
		<span class="p-country-name">Germany</span>
	</p>
</div>

<div class="page-footer__contact">
	<a class="u-email" href="maito:contact@anfe.ma">contact@anfe.ma</a>

	<p class="p-tel"><span class="type">Phone</span> <span class="value">+49 89 55269932</span></p>

	<p class="p-tel"><span class="type">Fax</span> <span class="value">+49 89 55269933</span></p>
</div>

<div class="page-footer__meta">
	{{language-select data-test-footer-language-select=true}}

	<p class="copyright">1998&nbsp;&ndash;&nbsp;{{year}} anfema&nbsp;GmbH</p>

	<p class="imprint">{{#link-to 'imprint' data-test-footer-imprint=true}}Imprint{{/link-to}}</p>
</div>
