<h1>Landing Page</h1>

<ul>
	<li>
		{{#link-to 'projects'}}
			<button>Projects</button>
		{{/link-to}}
	</li>
	<li>
		{{#link-to 'jobs'}}
			<button>Jobs</button>
		{{/link-to}}
	</li>
	<li>
		{{#link-to 'imprint'}}
			<button>Imprint</button>
		{{/link-to}}
	</li>
	<li>
		{{#link-to 'contact'}}
			<button>Contact us</button>
		{{/link-to}}
	</li>
</ul>

{{outlet}}
