{{#link-to "projects.detail" (query-params topfeatures=data.id) class="project-features-item__navigation-link"}}
	<h3 area-hidden="false">{{data.subtitle}}</h3>
{{/link-to}}

<div class="project-features-item__video">
	{{#if data.video}}
		{{responsive-image image=data.video}}
	{{/if}}
</div>

<div class="project-features-item__content">
	<p>{{data.description}}</p>
</div>

{{yield}}