<div class="projects-list-item__inner">
	<h3 class="projects-list-item__client">{{project.client}}</h3>

	<h4 class="projects-list-item__title">{{project.title}}</h4>

	<div class="projects-list-item__client-background" aria-hidden="true">{{project.client}}</div>
</div>

{{yield}}
