<div class="contact__content">
	<h2>{{t "component.contact.title"}}</h2>
	<p class="contact__description">{{t "component.contact.description"}}</p>
	<a class="contact__button" href={{mailtoLink}}>
		{{t "component.contact.button"}}
	</a>
</div>