<div class="page-menu__bar">
	{{#link-to 'language'}}
		<img class="page-menu__logo" src="/img/logo-dark.svg" alt="anfema" width="130" height="60">
	{{/link-to}}

	<nav class="page-menu__nav">
		{{yield}}
	</nav>
</div>