{{outlet}}
<h1>{{model.pHeader}} - {{model.title}}</h1>
<ul>
	<li>
		{{#link-to 'projects'}}
			<button>Back</button>
		{{/link-to}}
	</li>
	<li>
		{{#link-to 'index'}}
			<button>Landing Page</button>
		{{/link-to}}
	</li>
	<li>
		{{#link-to 'contact'}}
			<button>Contact us</button>
		{{/link-to}}
	</li>
</ul>







