<div class='h-card'>
	<div data-test-footer-logo class='u-logo'>
		<img src='' alt='anfema logo'>
	</div>
	<h3 data-test-footer-header>Munich Office</h3>
	<div class='p-adr adr h-adr'>
		<p data-test-footer-street class='p-street-address'>Seitzstr. 16</p>
		<p data-test-footer-city><span class='p-postal-code'>80538</span> <span class='p-locality'>Munich</span></p>
		<p data-test-footer-country class='p-country-name'>Germany</p>
	</div>
	<h3 data-test-footer-header>Augsburg Office</h3>
	<div class='p-adr adr h-adr'>
		<p data-test-footer-street class='p-street-address'>Bahnhofstr. 10</p>
		<p data-test-footer-city><span class='p-postal-code'>86150</span> <span class='p-locality'>Augsburg</span></p>
		<p data-test-footer-country class='p-country-name'>Germany</p>
	</div>
	<a data-test-footer-mail class='u-email' href="maito:contact@anfe.ma">contact@anfe.ma</a>
	<p data-test-footer-phone-fax class='p-tel'>Phone +49 89 55269932</p>
	<p data-test-footer-phone-fax>Fax +49 89 55269933</p>
	{{language-select data-test-footer-language-select=true}}
	<p data-test-footer-anfema>1998 – 2017 anfema GmbH</p>
	{{#link-to 'imprint' data-test-footer-imprint=true}}Imprint{{/link-to}}
</div>
