<nav class="menu-strip__slider">
	{{#each items as |item|}}
		{{#menu-strip-link
			queryParams=(hash service=item.id)
			activeClass='menu-strip-link__active'
			onClick=(action 'onItemSelected' item)
			}}
			{{item.id}}
		{{/menu-strip-link}}
	{{/each}}
</nav>