<div class="header">
  anfema
</div>
{{outlet}}


<!-- project-details seite (2 STÜCK) -->
<!-- componente project-card anlegen -->
<!-- Struktur aufbau css grid layout -->


<!-- ember i18n versuchen: 2 translations objekten lokal: de.json & en.json -->