<title>{{model.title}}</title>

<link rel="mask-icon" href="/pinned.svg" color="#312833">

<link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64 96x96 128x128" href="/favicon.ico">

<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="128x128" href="/apple-touch-icon-128.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152.png">
<link rel="apple-touch-icon" sizes="167x167" href="/apple-touch-icon-167.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180.png">

<meta name="application-name" content="anfema GmbH">
