{{#link-to 'index'}}
	<button>Landing Page</button>
{{/link-to}}

{{#link-to 'project' 'project1'}}
	<button>First</button>
{{/link-to}}

{{#link-to 'project' 'project2'}}
	<button>Second</button>
{{/link-to}}

{{outlet}}
