<h1>Projects</h1>
<ul>
	<li>
		{{#link-to 'index'}}
			<button>Back</button>
		{{/link-to}}
	</li>
	<li>
		{{#link-to 'contact'}}
			<button>Contact us</button>
		{{/link-to}}
	</li>
	<li>
		{{#link-to 'project' 'project1'}}
			<button>Project One</button>
		{{/link-to}}
	</li>
	<li>
		{{#link-to 'project' 'project2'}}
			<button>Project Two</button>
		{{/link-to}}
	</li>
</ul>

{{outlet}}
